<nav class="breadcrumb pull-right">
	<a class="breadcrumb-item" href="/">Home</a> /
	<a class="breadcrumb-item" href="/department">Index</a> /
	<span class="breadcrumb-item active">Create Form</span>
</nav>

<div class="page-header">
	<h3>Create Department Form  </h3>
</div>

<% include ../department/form.ejs %>