<script>
	$("#jsGrid").jsGrid({
		width: "100%",
		filtering: true,
		inserting: false,
		editing: true,
		sorting: false,
		autoload: true,
		paging: true,
		pageLoading: true,
		css: "kv-grid-table table table-bordered table-striped kv-table-wrap",
		pageSize: 20,
		pageButtonCount: 10,
		deleteConfirm: "Do you really want to delete client?",
			controller: {
				loadData: function (filter) {
					return $.ajax({
						datatype: "json",
						type: "GET",
						url: "/employee/list",
						data: filter,
						success: function (html) {
							var pi = filter.pageIndex || pageIndex; var ps = filter.pageSize || pageSize; var showing = "Showing <b>"; var pis = (pi * ps);var i = ((pi-1) * ps) +1;showing += i+" - "+pis;showing += "</b> of " + html.itemsCount;$(".summary").html(showing);$(".jsgrid-pager-container").addClass("paginaton");
						}
					});
				},
				updateItem: function (item) {return $.ajax({type: "PUT",url: "/employee",data: item});},
				deleteItem: function (item) {return $.ajax({type: "DELETE",url: "/employee/"+item.id,data: item});}
			},
			fields: [
				{name:"companyId",title:"CompanyId", type: "text", width: 90},
				{name:"payrollId",title:"PayrollId", type: "text", width: 90},
				{name:"clientId",title:"ClientId", type: "text", width: 90},
				{name:"groupId",title:"GroupId", type: "text", width: 90},
				{name:"salaryLabelId",title:"SalaryLabelId", type: "text", width: 90},
				{name:"setupBuktiPotongId",title:"SetupBuktiPotongId", type: "text", width: 90},
				{name:"nik",title:"Nik", type: "text", width: 90},
				{name:"fullname",title:"Fullname", type: "text", width: 90},
				{name:"preferName",title:"PreferName", type: "text", width: 90},
				{name:"status",title:"Status", type: "text", width: 90},
				{name:"religion",title:"Religion", type: "text", width: 90},
				{name:"nationality",title:"Nationality", type: "text", width: 90},
				{name:"startDate",title:"StartDate", type: "text", width: 90},
				{name:"endDate",title:"EndDate", type: "text", width: 90},
				{name:"resign",title:"Resign", type: "text", width: 90},
				{name:"masterJointDate",title:"MasterJointDate", type: "text", width: 90},
				{name:"gender",title:"Gender", type: "text", width: 90},
				{name:"birthDate",title:"BirthDate", type: "text", width: 90},
				{name:"maritalStatus",title:"MaritalStatus", type: "text", width: 90},
				{name:"dependentNo",title:"DependentNo", type: "text", width: 90},
				{name:"address1",title:"Address1", type: "text", width: 90},
				{name:"address2",title:"Address2", type: "text", width: 90},
				{name:"phoneHome",title:"PhoneHome", type: "text", width: 90},
				{name:"phoneMobile",title:"PhoneMobile", type: "text", width: 90},
				{name:"email",title:"Email", type: "text", width: 90},
				{name:"mothersName",title:"MothersName", type: "text", width: 90},
				{name:"birthPlace",title:"BirthPlace", type: "text", width: 90},
				{name:"cardId",title:"CardId", type: "text", width: 90},
				{name:"passportNo",title:"PassportNo", type: "text", width: 90},
				{name:"contractNo",title:"ContractNo", type: "text", width: 90},
				{name:"startContract",title:"StartContract", type: "text", width: 90},
				{name:"endContract",title:"EndContract", type: "text", width: 90},
				{name:"taxId",title:"TaxId", type: "text", width: 90},
				{name:"taxIdDate",title:"TaxIdDate", type: "text", width: 90},
				{name:"taxIdAddress",title:"TaxIdAddress", type: "text", width: 90},
				{name:"taxOfficeId",title:"TaxOfficeId", type: "text", width: 90},
				{name:"picture",title:"Picture", type: "text", width: 90},
				{name:"jamsostekNo",title:"JamsostekNo", type: "text", width: 90},
				{name:"jamsostekOfficeId",title:"JamsostekOfficeId", type: "text", width: 90},
				{name:"currencyId",title:"CurrencyId", type: "text", width: 90},
				{name:"regularIncomeCompanyTaxId",title:"RegularIncomeCompanyTaxId", type: "text", width: 90},
				{name:"irregularIncomeCompanyTaxId",title:"IrregularIncomeCompanyTaxId", type: "text", width: 90},
				{name:"paymentCurrency",title:"PaymentCurrency", type: "text", width: 90},
				{name:"paymentMethodId",title:"PaymentMethodId", type: "text", width: 90},
				{name:"costCenter",title:"CostCenter", type: "text", width: 90},
				{name:"bankAccNo",title:"BankAccNo", type: "text", width: 90},
				{name:"beneficiaryName",title:"BeneficiaryName", type: "text", width: 90},
				{name:"bankSwiftCode",title:"BankSwiftCode", type: "text", width: 90},
				{name:"bankCode",title:"BankCode", type: "text", width: 90},
				{name:"bankBranchCode",title:"BankBranchCode", type: "text", width: 90},
				{name:"bankSubBranchCode",title:"BankSubBranchCode", type: "text", width: 90},
				{name:"taxCategoryId",title:"TaxCategoryId", type: "text", width: 90},
				{name:"overtimeOrNo",title:"OvertimeOrNo", type: "text", width: 90},
				{name:"workingDay",title:"WorkingDay", type: "text", width: 90},
				{name:"branchOfficeId",title:"BranchOfficeId", type: "text", width: 90},
				{name:"designationId",title:"DesignationId", type: "text", width: 90},
				{name:"departmentId",title:"DepartmentId", type: "text", width: 90},
				{name:"divisionId",title:"DivisionId", type: "text", width: 90},
				{name:"positionId",title:"PositionId", type: "text", width: 90},
				{name:"loanBalance",title:"LoanBalance", type: "text", width: 90},
				{name:"jkkCode",title:"JkkCode", type: "text", width: 90},
				{name:"jkmCode",title:"JkmCode", type: "text", width: 90},
				{name:"jpkCode",title:"JpkCode", type: "text", width: 90},
				{name:"jhtCode",title:"JhtCode", type: "text", width: 90},
				{name:"pensiunCode",title:"PensiunCode", type: "text", width: 90},
				{name:"bpjs",title:"Bpjs", type: "text", width: 90},
				{name:"bpjsNo",title:"BpjsNo", type: "text", width: 90},
				{name:"bpjsCurrent",title:"BpjsCurrent", type: "text", width: 90},
				{name:"dplkEECode",title:"DplkEECode", type: "text", width: 90},
				{name:"dplkERCode",title:"DplkERCode", type: "text", width: 90},
				{name:"workingPeriodeMutasi",title:"WorkingPeriodeMutasi", type: "text", width: 90},
				{name:"workingPeriodeMutasiInt",title:"WorkingPeriodeMutasiInt", type: "text", width: 90},
				{name:"formula",title:"Formula", type: "text", width: 90},
				{name:"formulaGross",title:"FormulaGross", type: "text", width: 90},
				{name:"params",title:"Params", type: "text", width: 90},
				{name:"password",title:"Password", type: "text", width: 90},
				{name:"online",title:"Online", type: "text", width: 90},
				{name:"createDate",title:"CreateDate", type: "text", width: 90},
				{name:"createBy",title:"CreateBy", type: "text", width: 90},
				{name:"updateDate",title:"UpdateDate", type: "text", width: 90},
				{name:"updateBy",title:"UpdateBy", type: "text", width: 90},
				{type: "control", width: 100, editButton: false,deleteButton:true,
				itemTemplate: function (value, item) {
					var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
					var $customViewButton = $("<button>").attr({class: "btn btn-info btn-xs"}).html("<span class='glyphicon glyphicon-eye-open'></span>").click(function (e) {location.href = "/employee/view/" + item.id; e.stopPropagation();});
					var $customEditButton = $("<button>").attr({class: "btn btn-success btn-xs"}).html("<span class='glyphicon glyphicon-pencil'></span>").click(function (e) {location.href = "/employee/update/" + item.id; e.stopPropagation();});
					var $customDeleteButton = $("<button>").attr({class: "btn btn-danger btn-xs"}).html("<span class='glyphicon glyphicon-trash'></span>").click(function (e) { if(window.confirm("delete selected data ?")){$.ajax({url:"/employee/"+item.id,type:"DELETE",data:{id:item.id},success:function(data){location.href='';}});};e.stopPropagation();});

					return $("<div>").append($customViewButton).append("   ").append($customEditButton).append("    ").append($customDeleteButton);

					}
				}
			]
		});
</script>