<script>
	var attributeData = <%- JSON.stringify(data.attributeData) %>;
	$("#jsGrid").jsGrid({
		width: "100%",
		filtering: true,
		inserting: false,
		editing: true,
		sorting: true,
		autoload: true,
		paging: true,
		pageLoading: true,
		css: "kv-grid-table table table-bordered table-striped kv-table-wrap",
		pageSize: 20,
		pageButtonCount: 10,
		deleteConfirm: "Do you really want to delete client?",
			controller: {
				loadData: function (filter) {
					return $.ajax({
						datatype: "json",
						type: "GET",
						url: "/employee/list",
						data: filter,
						success: function (html) {
							var pi = filter.pageIndex || pageIndex; var ps = filter.pageSize || pageSize; var showing = "Showing <b>"; var pis = (pi * ps);var i = ((pi-1) * ps) +1;showing += i+" - "+pis;showing += "</b> of " + html.itemsCount;$(".summary").html(showing);$(".jsgrid-pager-container").addClass("paginaton");
						}
					});
				},
				updateItem: function (item) {return $.ajax({type: "PUT",url: "/employee",data: item});},
				deleteItem: function (item) {return $.ajax({type: "DELETE",url: "/employee",data: item});}
			},
			fields: [
				{name : "companyId", title : attributeData.companyId, type: "text", width: 90},
				{name : "payrollId", title : attributeData.payrollId, type: "text", width: 90},
				{name : "clientId", title : attributeData.clientId, type: "text", width: 90},
				{name : "groupId", title : attributeData.groupId, type: "text", width: 90},
				{name : "salaryLabelId", title : attributeData.salaryLabelId, type: "text", width: 90},
				{name : "setupBuktiPotongId", title : attributeData.setupBuktiPotongId, type: "text", width: 90},
				{name : "nik", title : attributeData.nik, type: "text", width: 90},
				{name : "fullname", title : attributeData.fullname, type: "text", width: 90},
				{name : "preferName", title : attributeData.preferName, type: "text", width: 90},
				{name : "status", title : attributeData.status, type: "text", width: 90},
				{name : "religion", title : attributeData.religion, type: "text", width: 90},
				{name : "nationality", title : attributeData.nationality, type: "text", width: 90},
				{name : "startDate", title : attributeData.startDate, type: "text", width: 90},
				{name : "endDate", title : attributeData.endDate, type: "text", width: 90},
				{name : "resign", title : attributeData.resign, type: "text", width: 90},
				{name : "masterJointDate", title : attributeData.masterJointDate, type: "text", width: 90},
				{name : "gender", title : attributeData.gender, type: "text", width: 90},
				{name : "birthDate", title : attributeData.birthDate, type: "text", width: 90},
				{name : "maritalStatus", title : attributeData.maritalStatus, type: "text", width: 90},
				{name : "dependentNo", title : attributeData.dependentNo, type: "text", width: 90},
				{name : "address1", title : attributeData.address1, type: "text", width: 90},
				{name : "address2", title : attributeData.address2, type: "text", width: 90},
				{name : "phoneHome", title : attributeData.phoneHome, type: "text", width: 90},
				{name : "phoneMobile", title : attributeData.phoneMobile, type: "text", width: 90},
				{name : "email", title : attributeData.email, type: "text", width: 90},
				{name : "mothersName", title : attributeData.mothersName, type: "text", width: 90},
				{name : "birthPlace", title : attributeData.birthPlace, type: "text", width: 90},
				{name : "cardId", title : attributeData.cardId, type: "text", width: 90},
				{name : "passportNo", title : attributeData.passportNo, type: "text", width: 90},
				{name : "contractNo", title : attributeData.contractNo, type: "text", width: 90},
				{name : "startContract", title : attributeData.startContract, type: "text", width: 90},
				{name : "endContract", title : attributeData.endContract, type: "text", width: 90},
				{name : "taxId", title : attributeData.taxId, type: "text", width: 90},
				{name : "taxIdDate", title : attributeData.taxIdDate, type: "text", width: 90},
				{name : "taxIdAddress", title : attributeData.taxIdAddress, type: "text", width: 90},
				{name : "taxOfficeId", title : attributeData.taxOfficeId, type: "text", width: 90},
				{name : "picture", title : attributeData.picture, type: "text", width: 90},
				{name : "jamsostekNo", title : attributeData.jamsostekNo, type: "text", width: 90},
				{name : "jamsostekOfficeId", title : attributeData.jamsostekOfficeId, type: "text", width: 90},
				{name : "currencyId", title : attributeData.currencyId, type: "text", width: 90},
				{name : "regularIncomeCompanyTaxId", title : attributeData.regularIncomeCompanyTaxId, type: "text", width: 90},
				{name : "irregularIncomeCompanyTaxId", title : attributeData.irregularIncomeCompanyTaxId, type: "text", width: 90},
				{name : "paymentCurrency", title : attributeData.paymentCurrency, type: "text", width: 90},
				{name : "paymentMethodId", title : attributeData.paymentMethodId, type: "text", width: 90},
				{name : "costCenter", title : attributeData.costCenter, type: "text", width: 90},
				{name : "bankAccNo", title : attributeData.bankAccNo, type: "text", width: 90},
				{name : "beneficiaryName", title : attributeData.beneficiaryName, type: "text", width: 90},
				{name : "bankSwiftCode", title : attributeData.bankSwiftCode, type: "text", width: 90},
				{name : "bankCode", title : attributeData.bankCode, type: "text", width: 90},
				{name : "bankBranchCode", title : attributeData.bankBranchCode, type: "text", width: 90},
				{name : "bankSubBranchCode", title : attributeData.bankSubBranchCode, type: "text", width: 90},
				{name : "taxCategoryId", title : attributeData.taxCategoryId, type: "text", width: 90},
				{name : "overtimeOrNo", title : attributeData.overtimeOrNo, type: "text", width: 90},
				{name : "workingDay", title : attributeData.workingDay, type: "text", width: 90},
				{name : "branchOfficeId", title : attributeData.branchOfficeId, type: "text", width: 90},
				{name : "designationId", title : attributeData.designationId, type: "text", width: 90},
				{name : "departmentId", title : attributeData.departmentId, type: "text", width: 90},
				{name : "divisionId", title : attributeData.divisionId, type: "text", width: 90},
				{name : "positionId", title : attributeData.positionId, type: "text", width: 90},
				{name : "loanBalance", title : attributeData.loanBalance, type: "text", width: 90},
				{name : "jkkCode", title : attributeData.jkkCode, type: "text", width: 90},
				{name : "jkmCode", title : attributeData.jkmCode, type: "text", width: 90},
				{name : "jpkCode", title : attributeData.jpkCode, type: "text", width: 90},
				{name : "jhtCode", title : attributeData.jhtCode, type: "text", width: 90},
				{name : "pensiunCode", title : attributeData.pensiunCode, type: "text", width: 90},
				{name : "bpjs", title : attributeData.bpjs, type: "text", width: 90},
				{name : "bpjsNo", title : attributeData.bpjsNo, type: "text", width: 90},
				{name : "bpjsCurrent", title : attributeData.bpjsCurrent, type: "text", width: 90},
				{name : "dplkEECode", title : attributeData.dplkEECode, type: "text", width: 90},
				{name : "dplkERCode", title : attributeData.dplkERCode, type: "text", width: 90},
				{name : "workingPeriodeMutasi", title : attributeData.workingPeriodeMutasi, type: "text", width: 90},
				{name : "workingPeriodeMutasiInt", title : attributeData.workingPeriodeMutasiInt, type: "text", width: 90},
				{name : "formula", title : attributeData.formula, type: "text", width: 90},
				{name : "formulaGross", title : attributeData.formulaGross, type: "text", width: 90},
				{name : "params", title : attributeData.params, type: "text", width: 90},
				{name : "password", title : attributeData.password, type: "text", width: 90},
				{name : "online", title : attributeData.online, type: "text", width: 90},
				{name : "createDate", title : attributeData.createDate, type: "text", width: 90},
				{name : "createBy", title : attributeData.createBy, type: "text", width: 90},
				{name : "updateDate", title : attributeData.updateDate, type: "text", width: 90},
				{name : "updateBy", title : attributeData.updateBy, type: "text", width: 90},
				{type: "control", width: 100, editButton: false,
				itemTemplate: function (value, item) {
					var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
					var $customViewButton = $("<button>").attr({class: "btn btn-info btn-xs"}).html("<span class='glyphicon glyphicon-eye-open'></span>").click(function (e) {location.href = "/employee/view/" + item.id; e.stopPropagation();});
					var $customEditButton = $("<button>").attr({class: "btn btn-success btn-xs"}).html("<span class='glyphicon glyphicon-pencil'></span>").click(function (e) {location.href = "/employee/update/" + item.id; e.stopPropagation();});
					var $customDeleteButton = $("<button>").attr({class: "btn btn-danger btn-xs"}).html("<span class='glyphicon glyphicon-trash'></span>").click(function (e) { if(window.confirm("delete selected data ?")){$.ajax({url:"/employee/"+item.id,type:"DELETE",data:{id:item.id},success:function(data){location.href="";}});};e.stopPropagation();});
					return $("<div>").append($customViewButton).append("   ").append($customEditButton).append("    ").append($customDeleteButton);
					}
				}
			]
		});
</script>