<script>
	$("#jsGrid").jsGrid({
		width: "100%",
		filtering: true,
		inserting: false,
		editing: true,
		sorting: false,
		autoload: true,
		paging: true,
		pageLoading: true,
		css: "kv-grid-table table table-bordered table-striped kv-table-wrap",
		pageSize: 20,
		pageButtonCount: 10,
		deleteConfirm: "Do you really want to delete client?",
			controller: {
				loadData: function (filter) {
					return $.ajax({
						datatype: "json",
						type: "GET",
						url: "/employee/list",
						data: filter,
						success: function (html) {
							var pi = filter.pageIndex || pageIndex; var ps = filter.pageSize || pageSize; var showing = "Showing <b>"; var pis = (pi * ps);var i = ((pi-1) * ps) +1;showing += i+" - "+pis;showing += "</b> of " + html.itemsCount;$(".summary").html(showing);$(".jsgrid-pager-container").addClass("paginaton");
						}
					});
				},
				updateItem: function (item) {return $.ajax({type: "PUT",url: "/employee",data: item});},
				deleteItem: function (item) {return $.ajax({type: "DELETE",url: "/employee",data: item});}
			},
			fields: [
				{name:"companyId", type: "text", width: 90},
				{name:"payrollId", type: "text", width: 90},
				{name:"clientId", type: "text", width: 90},
				{name:"groupId", type: "text", width: 90},
				{name:"salaryLabelId", type: "text", width: 90},
				{name:"setupBuktiPotongId", type: "text", width: 90},
				{name:"nik", type: "text", width: 90},
				{name:"fullname", type: "text", width: 90},
				{name:"preferName", type: "text", width: 90},
				{name:"status", type: "text", width: 90},
				{name:"religion", type: "text", width: 90},
				{name:"nationality", type: "text", width: 90},
				{name:"startDate", type: "text", width: 90},
				{name:"endDate", type: "text", width: 90},
				{name:"resign", type: "text", width: 90},
				{name:"masterJointDate", type: "text", width: 90},
				{name:"gender", type: "text", width: 90},
				{name:"birthDate", type: "text", width: 90},
				{name:"maritalStatus", type: "text", width: 90},
				{name:"dependentNo", type: "text", width: 90},
				{name:"address1", type: "text", width: 90},
				{name:"address2", type: "text", width: 90},
				{name:"phoneHome", type: "text", width: 90},
				{name:"phoneMobile", type: "text", width: 90},
				{name:"email", type: "text", width: 90},
				{name:"mothersName", type: "text", width: 90},
				{name:"birthPlace", type: "text", width: 90},
				{name:"cardId", type: "text", width: 90},
				{name:"passportNo", type: "text", width: 90},
				{name:"contractNo", type: "text", width: 90},
				{name:"startContract", type: "text", width: 90},
				{name:"endContract", type: "text", width: 90},
				{name:"taxId", type: "text", width: 90},
				{name:"taxIdDate", type: "text", width: 90},
				{name:"taxIdAddress", type: "text", width: 90},
				{name:"taxOfficeId", type: "text", width: 90},
				{name:"picture", type: "text", width: 90},
				{name:"jamsostekNo", type: "text", width: 90},
				{name:"jamsostekOfficeId", type: "text", width: 90},
				{name:"currencyId", type: "text", width: 90},
				{name:"regularIncomeCompanyTaxId", type: "text", width: 90},
				{name:"irregularIncomeCompanyTaxId", type: "text", width: 90},
				{name:"paymentCurrency", type: "text", width: 90},
				{name:"paymentMethodId", type: "text", width: 90},
				{name:"costCenter", type: "text", width: 90},
				{name:"bankAccNo", type: "text", width: 90},
				{name:"beneficiaryName", type: "text", width: 90},
				{name:"bankSwiftCode", type: "text", width: 90},
				{name:"bankCode", type: "text", width: 90},
				{name:"bankBranchCode", type: "text", width: 90},
				{name:"bankSubBranchCode", type: "text", width: 90},
				{name:"taxCategoryId", type: "text", width: 90},
				{name:"overtimeOrNo", type: "text", width: 90},
				{name:"workingDay", type: "text", width: 90},
				{name:"branchOfficeId", type: "text", width: 90},
				{name:"designationId", type: "text", width: 90},
				{name:"departmentId", type: "text", width: 90},
				{name:"divisionId", type: "text", width: 90},
				{name:"positionId", type: "text", width: 90},
				{name:"loanBalance", type: "text", width: 90},
				{name:"jkkCode", type: "text", width: 90},
				{name:"jkmCode", type: "text", width: 90},
				{name:"jpkCode", type: "text", width: 90},
				{name:"jhtCode", type: "text", width: 90},
				{name:"pensiunCode", type: "text", width: 90},
				{name:"bpjs", type: "text", width: 90},
				{name:"bpjsNo", type: "text", width: 90},
				{name:"bpjsCurrent", type: "text", width: 90},
				{name:"dplkEECode", type: "text", width: 90},
				{name:"dplkERCode", type: "text", width: 90},
				{name:"workingPeriodeMutasi", type: "text", width: 90},
				{name:"workingPeriodeMutasiInt", type: "text", width: 90},
				{name:"formula", type: "text", width: 90},
				{name:"formulaGross", type: "text", width: 90},
				{name:"params", type: "text", width: 90},
				{name:"password", type: "text", width: 90},
				{name:"online", type: "text", width: 90},
				{name:"createDate", type: "text", width: 90},
				{name:"createBy", type: "text", width: 90},
				{name:"updateDate", type: "text", width: 90},
				{name:"updateBy", type: "text", width: 90},
				{type: "control", width: 100, editButton: false,
				itemTemplate: function (value, item) {
					var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
					var $customViewButton = $("<button>").attr({class: "btn btn-info btn-xs"}).html("<span class='glyphicon glyphicon-eye-open'></span>").click(function (e) {location.href = "/employee/view/" + item.id; e.stopPropagation();});
					var $customEditButton = $("<button>").attr({class: "btn btn-success btn-xs"}).html("<span class='glyphicon glyphicon-pencil'></span>").click(function (e) {location.href = "/employee/update/" + item.id; e.stopPropagation();});
					return $("<div>").append($customViewButton).append("   ").append($customEditButton).append("    ");
					}
				}
			]
		});
</script>