<html><head>
    <title>SheetJS In-Browser Demos</title>
    <link rel="icon" type="image/png" href="//oss.sheetjs.com/assets/img/logo.png">
    <style> a { text-decoration: none } </style>
</head>
<body>
<pre><a href="//sheetjs.com/"><h3>SheetJS In-Browser Demos</h3></a>All demos run in your web browser.  Your files do not leave your machine.

<b>Preview Spreadsheet Files</b>

- <a href="http://oss.sheetjs.com">http://oss.sheetjs.com</a> -- Preview spreadsheets in a grid
- <a href="http://oss.sheetjs.com/js-xlsx">http://oss.sheetjs.com/js-xlsx</a> -- Convert spreadsheets to CSV or JS objects

<b>Read and Work with Spreadsheet Data</b>

- <a href="//sheetjs.com/sexql">http://sheetjs.com/sexql</a> -- Query Excel files with SQL (using WebSQL)

<b>Generate Spreadsheets</b>

- <a href="table.html">table.html</a> -- export editable HTML table to XLSX

<b>Read + Edit + Write Spreadsheet Data</b>

- <a href="modify.html">modify.html</a> -- import, edit, export spreadsheet

<b>Miscellaneous Demos and Tests</b>

- <a href="//sheetaki.now.sh/">sheetaki</a> -- spreadsheet conversion service
- <a href="http://oss.sheetjs.com/js-xlsx/ajax.html">ajax.html</a> -- read file from AJAX download

- <a href="http://oss.sheetjs.com/stress.html">stress.html</a> -- browser stress test
- <a href="http://oss.sheetjs.com/js-xlsx/tests/">js-xlsx</a> -- mocha-based core browser tests

- <a href="writexlsx.html">writexlsx.html</a> -- write XLSX file
- <a href="writexlsb.html">writexlsb.html</a> -- write XLSB file
- <a href="writeods.html">writeods.html</a> -- write ODS file
- <a href="100001.html">100001.html</a> -- write 3x100001 XLSX file
- <a href="write_num.html?n=10000">write_num.html?n=N</a> -- write 3x(N+1) XLSX file
- <a href="write_text.html?n=10000">write_text.html?n=N</a> -- write 3x(N+1) XLSX file with text and numbers

</pre>


</body></html>