<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.1/jsgrid.min.css'/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.1/jsgrid-theme.min.css'/>

</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div id="jsGrid" class="table table-responsive"></div>
<script>
    // List of countries for the select field

    var roles = [
        {Name: "", Id: 0},
        {Name: "Admin", Id: 1},
        {Name: "User", Id: 2},
        {Name: "Client", Id: 3}
    ];

    $("#jsGrid").jsGrid({
        // height: "100%",
        width: "100%",
        filtering: true,
        inserting: true,
        editing: true,
        sorting: false,
        autoload: true,
        paging: true,
        pageLoading: true,
        // pageSize: 10,
        //  pageButtonCount: 5,
        deleteConfirm: "Do you really want to delete client?",
        controller: {
            loadData: function (filter) {
                // GET to retrieve client list
                return $.ajax({
                    datatype: 'json',
                    type: "GET",
                    url: "/users",
                    data: filter
                });
            },
            insertItem: function (item) {
                // POST to create new client
                return $.ajax({
                    type: "POST",
                    url: "/users",
                    data: item
                });
            },
            updateItem: function (item) {
                // PUT to update the client
                return $.ajax({
                    type: "PUT",
                    url: "/users",
                    data: item
                });
            },
            deleteItem: function (item) {
                // DELETE to remove client
                return $.ajax({
                    type: "DELETE",
                    url: "/users",
                    data: item
                });
            }
        },
        fields: [
            {name: "username", type: "text", width: 150},
            {name: "fullname", type: "number", width: 50, filtering: false},
            {name: "email", type: "text", width: 200},
            {name: "roleId", type: "select", items: roles, valueField: "Id", textField: "Name"},
            {name: "status", type: "checkbox", title: "Is Active", sorting: false},
            {type: "control"}
        ]
    });

</script>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.1/jsgrid.min.js"></script>

</body>
</html>
