<nav class="breadcrumb pull-right boxy-small">
	<a class="breadcrumb-item" href="/">Home</a> /
	<a class="breadcrumb-item" href="/factories">Index</a> /
	<span class="breadcrumb-item active">Update Form</span>
</nav>

<div class="page-header">
	<h3>Update Factories Form  </h3>
</div>

<% include ../factories/form.ejs %>