<script>
	var attributeData = <%- JSON.stringify(data.attributeData) %>;
	var jsFilter = "";
	$("#jsGrid").jsGrid({
		width: "100%",
		filtering: true,
		inserting: false,
		editing: true,
		sorting: true,
		autoload: true,
		paging: true,
		pageLoading: true,
		css: "kv-grid-table table table-bordered table-striped kv-table-wrap",
		pageSize: $("#pageSize").val(),
		pageButtonCount: 10,
		deleteConfirm: "Do you really want to delete client?",
			controller: {
				loadData: function (filter) {
					return $.ajax({
						datatype: "json",
						type: "GET",
						url: "/bank/list",
						data: filter,
						success: function (html) {
							var pi = filter.pageIndex || pageIndex; var ps = filter.pageSize || pageSize; var showing = "Showing <b>"; var pis = (pi * ps);var i = ((pi-1) * ps) +1;showing += i+" - "+pis;showing += "</b> of " + html.itemsCount;$(".summary").html(showing);$(".jsgrid-pager-container").addClass("paginaton");jsFilter = filter;
						}
					});
				},
				updateItem: function (item) {return $.ajax({type: "PUT",url: "/bank",data: item});},
				deleteItem: function (item) {return $.ajax({type: "DELETE",url: "/bank",data: item});}
			},
			fields: [
				{name : "swiftCode", title : attributeData.swiftCode, type: "text", width: 90},
				{name : "bankCode", title : attributeData.bankCode, type: "text", width: 90},
				{name : "bankName", title : attributeData.bankName, type: "text", width: 90},
				{name : "branchCode", title : attributeData.branchCode, type: "text", width: 90},
				{name : "branchName", title : attributeData.branchName, type: "text", width: 90},
				{name : "city", title : attributeData.city, type: "text", width: 90},
				{name : "subBranchCode", title : attributeData.subBranchCode, type: "text", width: 90},
				{name : "subBranchName", title : attributeData.subBranchName, type: "text", width: 90},
				{name : "remark", title : attributeData.remark, type: "text", width: 90},
				{name : "createDate", title : attributeData.createDate, type: "text", width: 90},
				{name : "createBy", title : attributeData.createBy, type: "text", width: 90},
				{name : "updateDate", title : attributeData.updateDate, type: "text", width: 90},
				{name : "updateBy", title : attributeData.updateBy, type: "text", width: 90},
				{type: "control", width: 100, editButton: false,
				itemTemplate: function (value, item) {
					var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
					var $customViewButton = $("<button>").attr({class: "btn btn-info btn-xs"}).html("<span class='glyphicon glyphicon-eye-open'></span>").click(function (e) {location.href = "/bank/view/" + item.id; e.stopPropagation();});
					var $customEditButton = $("<button>").attr({class: "btn btn-success btn-xs"}).html("<span class='glyphicon glyphicon-pencil'></span>").click(function (e) {location.href = "/bank/update/" + item.id; e.stopPropagation();});
					var $customDeleteButton = $("<button>").attr({class: "btn btn-danger btn-xs"}).html("<span class='glyphicon glyphicon-trash'></span>").click(function (e) { if(window.confirm("delete selected data ?")){$.ajax({url:"/bank/"+item.id,type:"DELETE",data:{id:item.id},success:function(data){$(this).find(".jsgrid-table").closest("tr").focus();}});};e.stopPropagation();});
					return $("<div>").append($customViewButton).append("   ").append($customEditButton).append("    ").append($customDeleteButton);
					}
				}
			]
		});

	$(".export-xls").on("click", function () {location.href="/bank/excel?"+jQuery.param(jsFilter);});
	$("#pageSize").on("change", function () {$("#jsGrid").jsGrid("option", "pageSize", $(this).val());});
</script>