<script>
    var o = ["code", "codes", "alias", "employeeCategoryId", "typeTaxId", "workDays", "name", "npwp", "address", "kota", "description", "jamsostekNo", "telephone", "fax", "virtual_account", "contactPerson", "officerName", "officerId", "position", "createDate", "formulaId", "group", "groupId", "contractNo", "startContract", "endContract", "kodeAkunPajak", "kodeSetoran", "uraianPembayaran", "jointDate", "tenagaKerja", "upah", "bpjs", "online", "logo", "onlineDate", "createBy", "updateDate", "updateBy", "id"];
    var fields = [];
    for (var i = 0; i < o.length; i++) {
        if (o[i] != "id") {
            var f = {
                name: o[i],
                type: "text",
                width: 90
            }
            fields.push(f);
        }
    }

    var control = {
        type: "control", width: 100, editButton: false,
        itemTemplate: function (value, item) {
            var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
            var $customViewButton = $("<button>").attr({class: "btn btn-info btn-xs"}).html("<span class='glyphicon glyphicon-eye'></span>").click(function (e) {location.href = "/company/view/" + item.id; e.stopPropagation();});
            var $customEditButton = $("<button>").attr({class: "btn btn-success btn-xs"}).html("<span class='glyphicon glyphicon-pencil'></span>").click(function (e) {location.href = '/company/update/' + item.id; e.stopPropagation();});
            return $("<div>").prepend($customViewButton).prepend("   ").append($customEditButton).prepend("    ");
        }
    }

    fields.push(control);

    // List of countries for the select field
    $("#jsGrid").jsGrid({
        width: "100%",
        filtering: false,
        inserting: false,
        editing: true,
        sorting: false,
        autoload: true,
        paging: true,
        pageLoading: true,
        css: "kv-grid-table table table-bordered table-striped kv-table-wrap",
        pageSize: 20,
        pageButtonCount: 10,
        deleteConfirm: "Do you really want to delete client?",
        controller: {
            loadData: function (filter) {
                return $.ajax({
                    datatype: 'json',
                    type: "GET",
                    url: "/company/list",
                    data: filter,
                    success: function (html) {
                        var pi = filter.pageIndex || pageIndex; var ps = filter.pageSize || pageSize; var showing = 'Showing <b>'; var pis = (pi * ps);var i = ((pi-1) * ps) +1;showing += i+" - "+pis;showing += "</b> of " + html.itemsCount;$(".summary").html(showing);$(".jsgrid-pager-container").addClass("paginaton");
                    }
                });
            },
            updateItem: function (item) {return $.ajax({type: "PUT",url: "/users",data: item});},
            deleteItem: function (item) {return $.ajax({type: "DELETE",url: "/users",data: item});}
        },
        fields: fields
    });

</script>