<script>
	var attributeData = <%- JSON.stringify(data.attributeData) %>;
	$("#jsGrid").jsGrid({
		width: "100%",
		filtering: true,
		inserting: false,
		editing: true,
		sorting: true,
		autoload: true,
		paging: true,
		pageLoading: true,
		css: "kv-grid-table table table-bordered table-striped kv-table-wrap",
		pageSize: 20,
		pageButtonCount: 10,
		deleteConfirm: "Do you really want to delete client?",
			controller: {
				loadData: function (filter) {
					return $.ajax({
						datatype: "json",
						type: "GET",
						url: "/company/list",
						data: filter,
						success: function (html) {
							var pi = filter.pageIndex || pageIndex; var ps = filter.pageSize || pageSize; var showing = "Showing <b>"; var pis = (pi * ps);var i = ((pi-1) * ps) +1;showing += i+" - "+pis;showing += "</b> of " + html.itemsCount;$(".summary").html(showing);$(".jsgrid-pager-container").addClass("paginaton");
						}
					});
				},
				updateItem: function (item) {return $.ajax({type: "PUT",url: "/company",data: item});},
				deleteItem: function (item) {return $.ajax({type: "DELETE",url: "/company",data: item});}
			},
			fields: [
				{name : "code", title : attributeData.code, type: "text", width: 90},
				{name : "codes", title : attributeData.codes, type: "text", width: 90},
				{name : "alias", title : attributeData.alias, type: "text", width: 90},
				{name : "employeeCategoryId", title : attributeData.employeeCategoryId, type: "text", width: 90},
				{name : "typeTaxId", title : attributeData.typeTaxId, type: "text", width: 90},
				{name : "workDays", title : attributeData.workDays, type: "text", width: 90},
				{name : "name", title : attributeData.name, type: "text", width: 90},
				{name : "npwp", title : attributeData.npwp, type: "text", width: 90},
				{name : "address", title : attributeData.address, type: "text", width: 90},
				{name : "kota", title : attributeData.kota, type: "text", width: 90},
				{name : "description", title : attributeData.description, type: "text", width: 90},
				{name : "jamsostekNo", title : attributeData.jamsostekNo, type: "text", width: 90},
				{name : "telephone", title : attributeData.telephone, type: "text", width: 90},
				{name : "fax", title : attributeData.fax, type: "text", width: 90},
				{name : "virtual_account", title : attributeData.virtual_account, type: "text", width: 90},
				{name : "contactPerson", title : attributeData.contactPerson, type: "text", width: 90},
				{name : "officerName", title : attributeData.officerName, type: "text", width: 90},
				{name : "officerId", title : attributeData.officerId, type: "text", width: 90},
				{name : "position", title : attributeData.position, type: "text", width: 90},
				{name : "createDate", title : attributeData.createDate, type: "text", width: 90},
				{name : "formulaId", title : attributeData.formulaId, type: "text", width: 90},
				{name : "group", title : attributeData.group, type: "text", width: 90},
				{name : "groupId", title : attributeData.groupId, type: "text", width: 90},
				{name : "contractNo", title : attributeData.contractNo, type: "text", width: 90},
				{name : "startContract", title : attributeData.startContract, type: "text", width: 90},
				{name : "endContract", title : attributeData.endContract, type: "text", width: 90},
				{name : "kodeAkunPajak", title : attributeData.kodeAkunPajak, type: "text", width: 90},
				{name : "kodeSetoran", title : attributeData.kodeSetoran, type: "text", width: 90},
				{name : "uraianPembayaran", title : attributeData.uraianPembayaran, type: "text", width: 90},
				{name : "jointDate", title : attributeData.jointDate, type: "text", width: 90},
				{name : "tenagaKerja", title : attributeData.tenagaKerja, type: "text", width: 90},
				{name : "upah", title : attributeData.upah, type: "text", width: 90},
				{name : "bpjs", title : attributeData.bpjs, type: "text", width: 90},
				{name : "online", title : attributeData.online, type: "text", width: 90},
				{name : "logo", title : attributeData.logo, type: "text", width: 90},
				{name : "onlineDate", title : attributeData.onlineDate, type: "text", width: 90},
				{name : "createBy", title : attributeData.createBy, type: "text", width: 90},
				{name : "updateDate", title : attributeData.updateDate, type: "text", width: 90},
				{name : "updateBy", title : attributeData.updateBy, type: "text", width: 90},
				{type: "control", width: 100, editButton: false,
				itemTemplate: function (value, item) {
					var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
					var $customViewButton = $("<button>").attr({class: "btn btn-info btn-xs"}).html("<span class='glyphicon glyphicon-eye-open'></span>").click(function (e) {location.href = "/company/view/" + item.id; e.stopPropagation();});
					var $customEditButton = $("<button>").attr({class: "btn btn-success btn-xs"}).html("<span class='glyphicon glyphicon-pencil'></span>").click(function (e) {location.href = "/company/update/" + item.id; e.stopPropagation();});
					var $customDeleteButton = $("<button>").attr({class: "btn btn-danger btn-xs"}).html("<span class='glyphicon glyphicon-trash'></span>").click(function (e) { if(window.confirm("delete selected data ?")){$.ajax({url:"/company/"+item.id,type:"DELETE",data:{id:item.id},success:function(data){location.href="";}});};e.stopPropagation();});
					return $("<div>").append($customViewButton).append("   ").append($customEditButton).append("    ").append($customDeleteButton);
					}
				}
			]
		});
</script>