<div class="page-header">
    <h1><%= title %></h1>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="pull-right">
            <div class="summary">Showing <b>1-100</b> of <b>21,387</b> items.</div>
        </div>
        <h3 class="panel-title">
        </h3>
        <h3 class="panel-title"><i class="glyphicon glyphicon-book"></i> Orders</h3>

        <div class="clearfix"></div>
    </div>
    <div class="kv-panel-before">
        <div class="pull-right">
            <div class="btn-toolbar kv-grid-toolbar" role="toolbar">
                <div class="btn-group">
                    <a type="button" id="create_order_btn" class="btn btn-success"href="/kueijo-server/web/order/create" title="Add Orders"><i class="glyphicon glyphicon-plus"></i></a>
                    <a type="button" class="btn btn-warning" href="/kueijo-server/web/order/parsing" title="Parsing Excel Orders"><i class="fa fa-file-excel-o"></i></a>
                    <button type="button" id="backupExcel" class="btn btn-default" title="Excel Backup Orders"><i class="fa fa-download"></i></button>
                    <a class="btn btn-default" href="/kueijo-server/web/order/index?p_reset=1" title="Reset Grid" data-pjax="0"><i class="glyphicon glyphicon-repeat"></i></a></div>
            </div>
        </div>
        <div style="padding-top: 7px;"><em>* The table at the right you can pull reports &amp; personalize</em></div>
        <div class="clearfix"></div>
    </div>
    <div id="jsGrid" class="table-responsive kv-grid-container"></div>
</div>
