<nav class="breadcrumb pull-right boxy-small">
	<a class="breadcrumb-item" href="/">Home</a> /
	<a class="breadcrumb-item" href="/company">Index</a> /
	<span class="breadcrumb-item active">Parsing Form</span>
</nav>

<div class="page-header">
	<h3>Import / Upload Data using excel file</h3>
</div>

<form id="bank-form" class="boxy">             <p>&nbsp;</p><p>&nbsp;</p><div class="row">             <div class="col-md-10">             <div class="form-group">             <label class="control-label col-md-2" for="type">Type</label>             <div class="col-md-10"><select id="type" class="form-control" aria-invalid="false">             <option value="1" data-note="add">Add Data</option>         <option value="2" data-note="edit">Edit Data</option>         </select>         </div>         </div>         <p>&nbsp;</p>         <div class="form-group">             <label class="control-label col-md-2" for="file">Your Excel</label>         <div class="col-md-10"><input type="file" id="file" class="form-control"></div>             </div>             </div>             </div>             <p>&nbsp;</p>         <div class="row">             <div class="col-md-10 col-md-offset-1">             <button type="submit" class="btn btn-success">Upload</button> <p>&nbsp;</p><p>&nbsp;</p>             </div>             </div>             </form>             <hr>             <div class="row">             <div class="col-md-10">             Format Sample : <a id="sample-parsing" href="/bank/excel?sample-type=1">sample-add.xls</a>             </div>             </div>