<nav class="breadcrumb pull-right boxy-small">
	<a class="breadcrumb-item" href="/">Home</a> /
	<a class="breadcrumb-item" href="/company">Index</a> /
	<span class="breadcrumb-item active">Update Form</span>
</nav>

<div class="page-header">
	<h3>Update Company Form  </h3>
</div>

<% include ../company/form.ejs %>