<!DOCTYPE html>
<html>
<head>
    <title>Generator</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="well">
        <h1>EXPRESS CRUD GENERATOR FOR MYSQL</h1>
    </div>

    <form method="post" action="/generator">
        <div class="form-group">
            <label for="exampleInputEmail1">Table</label>
            <select name="table" id="table" class="form-control">
                <% rows.forEach(function (row) { %>
                <option value="<%= row%>"><%= row%></option>
                <% })%>
            </select>
        </div>


        <button class="btn btn-success" type="submit">Generate</button>
    </form>
</div>


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>