<nav class="breadcrumb pull-right">
	<a class="breadcrumb-item" href="/">Home</a> /
	<span class="breadcrumb-item active">Index</span>
</nav>

<div class="page-header">
	<h1><%= title %></h1>
</div>

<div class="panel panel-info">
	<div class="panel-heading">
		<div class="pull-right">
			<div class="summary">Showing <b>1-100</b> of <b>21,387</b> items.</div>
		</div>
		<h3 class="panel-title"><i class="glyphicon glyphicon-book"></i> Faq Grid</h3>
		<div class="clearfix"></div>
	</div>
	<div class="kv-panel-before">
		<div class="pull-right">
			<div class="btn-toolbar kv-grid-toolbar" role="toolbar">
				<div class="btn-group">
				<a type="button" id="create_btn" class="btn btn-success"href="/faq/create" title="Add Data"><i class="glyphicon glyphicon-plus"></i></a>
				<a type="button" class="btn btn-warning" href="/faq/parsing" title="Import Excel"><i class="fa fa-file-excel-o"></i></a>
				<a type="button" id="backupExcel" href="/faq/excel" class="btn btn-default" title="Excel Backup"><i class="fa fa-download"></i></a>
				<a class="btn btn-default" href="/faq" title="Refresh Grid" ><i class="glyphicon glyphicon-repeat"></i></a></div>
			<div class="btn-group"><select id="pageSize" class="form-control"><option selected value="50">50</option><option value="100">100</option><option value="300">300</option> </select> </div>
			<div class="btn-group">
			<button id="w9" class="btn btn-default dropdown-toggle" title="Export" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-share-square-o"></i>  <span class="caret"></span></button>
			<ul id="w10" class="dropdown-menu dropdown-menu-right"><li role="presentation" class="dropdown-header">Export Page Data</li><li title="Microsoft Excel 95+"><a class="export-xls" href="#" ><i class="text-success fa fa-file-excel-o"></i> Excel</a></li><li title="Portable Document Format"><a class="export-pdf" href="#"><i class="text-danger fa fa-file-pdf-o"></i> PDF</a></li></ul>
			</div>
			</div>
		</div>
		<div style="padding-top: 7px;"><em>* Exports &amp; Imports Excel Format</em></div>
		<div class="clearfix"></div>
	</div>
	<div id="jsGrid" class="table-responsive kv-grid-container"></div>
</div>
