<nav class="breadcrumb pull-right">
	<a class="breadcrumb-item" href="/">Home</a> /
	<a class="breadcrumb-item" href="/designation">Index</a> /
	<span class="breadcrumb-item active">Create Form</span>
</nav>

<div class="page-header">
	<h3>Create Designation Form  </h3>
</div>

<% include ../designation/form.ejs %>